:root {
  /* Palette gotten from here */
  /* https://tailwindcss.com/docs/customizing-colors */

  /* Tailwind Indigo */
  --color-primary-50: #eef2ff;
  --color-primary-100: #e0e7ff;
  --color-primary-200: #c7d2fe;
  --color-primary-300: #a5b4fc;
  --color-primary-400: #818cf8;
  --color-primary-500: #6366f1;
  --color-primary-600: #4f46e5;
  --color-primary-700: #4338ca;
  --color-primary-800: #3730a3;
  --color-primary-900: #312e81;
  --color-primary-950: #1e1b4b;

  /* Tailwind Rose */
  --color-secondary-50: #fff1f2;
  --color-secondary-100: #ffe4e6;
  --color-secondary-200: #fecdd3;
  --color-secondary-300: #fda4af;
  --color-secondary-400: #fb7185;
  --color-secondary-500: #f43f5e;
  --color-secondary-600: #e11d48;
  --color-secondary-700: #be123c;
  --color-secondary-800: #9f1239;
  --color-secondary-900: #881337;
  --color-secondary-950: #4c0519;

  /* Tailwind Amber */
  --color-accent-50: #fffbeb;
  --color-accent-100: #fef3c7;
  --color-accent-200: #fde68a;
  --color-accent-300: #fcd34d;
  --color-accent-400: #fbbf24;
  --color-accent-500: #f59e0b;
  --color-accent-600: #d97706;
  --color-accent-700: #b45309;
  --color-accent-800: #92400e;
  --color-accent-900: #78350f;
  --color-accent-950: #451a03;

  /* Tailwind Gray */
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-gray-950: #030712;
}